.bar-inner {
  bottom: 0;
  height: 50%;
  z-index: 4;
  background-color: #45648c;
}
.bar-inner:before {
  background-color: transparent;
}
.bar-foreground .label span {
  line-height: .7em;
}
.bar-foreground .label:after {
  display: none;
}
