/******************************************************************************
 **                                                                          **
 ** VARIABLES                                                                **
 **                                                                          **
 ******************************************************************************/
/****************
 *    Colors    *
 ****************/
/* Bar patch color - should as bar's background */
.bar-container:before {
  border-color: transparent transparent #e3f1ff;
}

/* Back panel */
.bar-background {
  background-color: rgba(160, 160, 160, .1);
}
/* Bottom panel */
.bar-background:before {
  background-color: rgba(160, 160, 160, .2);
}
/* Back Side panel */
.bar-background:after {
  background-color: rgba(160, 160, 160, .05);
}
/* Front panel */
.bar-foreground {
  background-color: rgba(160, 160, 160, .1);
}
/* Front Side panel */
.bar-foreground:before {
  background-color: rgba(160, 160, 160, .27);
}

/* Inner Side panel */
.bar-inner,
.bar-inner:before {
  background-color: rgba(5, 62, 123, .7);
}
/* Inner Top panel */
.bar-inner:after {
  background-color: rgba(5, 62, 123, .6);
}

/* Bar Labels colors */
.bar-foreground .label:before,
.bar-foreground .label:after {
  border-color: rgba(177, 177, 177, .4);
  background: rgba(221, 221, 221, .3);
}


/**********
** SIZES **
**********/
/* usually you don't need that but in demo we want to position bar in the
 * middle so we are setting width and margin: auto */
.bar-wrapper {
  width: 23em;
  margin: 0 auto;
  margin-top: -17em;
}
