/******************************************************************************
 **                                                                          **
 ** VARIABLES                                                                **
 **                                                                          **
 ******************************************************************************/
/****************
 *    Colors    *
 ****************/
/* Bar patch color - should as bar's background */
.bar-container:before {
  border-color: transparent transparent #164b7f;
}

/* Back panel */
.bar-background {
  background-color: rgba(160, 160, 160, .1);
}
/* Bottom panel */
.bar-background:before {
  background-color: rgba(160, 160, 160, .2);
}
/* Back Side panel */
.bar-background:after {
  background-color: rgba(160, 160, 160, .05);
}
/* Front panel */
.bar-foreground {
  background-color: rgba(160, 160, 160, .1);
}
/* Front Side panel */
.bar-foreground:before {
  background-color: rgba(160, 160, 160, .27);
}

/* Inner Side panel */
.bar-inner,
.bar-inner:before {
  background-color: #053e7b;
  /* background-color: rgba(21, 92, 168, .7); */
  /* background-color: rgba(48, 141, 19, .7); */
  /* background-color: rgba(5, 123, 5, .6); */
  /* background-color: rgba(255, 248, 136, .3); */
  background-color: rgba(133, 165, 204, .3);
  /*background-color: rgba(255, 255, 100, .4);*/
  /*background-color: rgba(129, 158, 187, .4);*/
}
/* Inner Top panel */
.bar-inner:after {
  /* background-color: rgba(21, 92, 168, .9); */
  /* background-color: rgba(5, 62, 123, .6); */
  /* background-color: rgba(19, 78, 141, .9); */
  /* background-color: rgba(5, 123, 5, .4); */
  /* background-color: rgba(255, 248, 136, .25); */
  background-color: rgba(133, 165, 204, .2);
  /*background-color: rgba(255, 255, 100, .3);*/
  /*background-color: rgba(129, 158, 187, .2);*/
}

/* Bar Labels colors */
.bar-foreground .label {
  color: #ccc;
}
.bar-foreground .label:before,
.bar-foreground .label:after {
  border-color: rgba(177, 177, 177, .4);
  background: rgba(221, 221, 221, .3);
}

/****************
 *    Sizes     *
 ****************/
/* The normal size of a bar*/
.bar-container {
  /*font-size: 12px;*/
}

 /* Make labels markers visible */
.bar-wrapper.with-markers {
  padding-right: 4em;
  margin-right: -4em;
}
.bar-wrapper.with-markers.rtl {
  padding-left: 4em;
  margin-left: -4em; 
}