body::before{
  content: "Before 480px";
    font-weight: bold;
    display: none;
    text-align: center;
    background: rgba(255,255,0, 0.9);   /* Semi-transparent yellow */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.bar-wrapper {
  display: inline-block;
}

/*------------------------------------*\
 *  Responsive queries
\*------------------------------------*/
/* Small Tablet / Blackberry / Newer iPhone */
@media only screen and (min-width: 460px) {
    body {
      font-size: .7em;
    }
    body::before{ content: "min-width: 480px"; }
    input[name="fill"] + label {
      margin: .2em;
    }

    .demo-set {
      display: inline-block;
    }
    .demo-window,
    .source-window {
      display: block;
    }
    .source-container,
    .source-window {
      width: auto;
    }

    #github {
      display: block;
    }

}

/* Tablet - Portrait */
@media only screen and (min-width: 740px) {
    body {
      font-size: .85em;
    }
    body::before{ content: "min-width: 768px"; }
    
    

}
/* Tablet - Landscape */
@media only screen and (min-width: 992px) {
    body {
      font-size: .9em;
    }
    body::before{ content: "min-width: 992px"; }

    /* Position UI Elements */
    .demo-set {
      
    }
    .demo-window {
      display: inline-block;
      float: left;
      margin: 0 2em 0 0;
    }
    .source-container {
      float: left;
      display: inline-block;
    }
    .source-window {
      max-width: 38em;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    body {
      font-size: 1em;
    }
    body::before{ content: "min-width: 1200px"; }
}
