/*------------------------------------*\
 *  Responsive queries
\*------------------------------------*/
@media only screen and (max-width: 480px) {
    body {
      font-size: .65em;
    }
    input[name="fill"] + label {
      display: inline;
      margin: .1em;
    }

    .demo-window {
      padding: 3em;
    }

    #resize,
    #github {
      display: none;
    }
    .social-buttons {
      position: static;
    }
}
@media only screen and (min-width: 480px) {
    body {
      font-size: .7em;
    }
    input[name="fill"] + label {
      margin: .2em;
    }
    #github {
      display: block;
    }
}
@media only screen and (min-width: 600px) {
    body {
      font-size: .75em;
    }
}
/* 768px */
@media only screen and (min-width: 768px) {
    body {
      font-size: 1em;
    }
}
/* 992px */
@media only screen and (min-width: 992px) {
    body {
      font-size: 1.25em;
    }
}
/* 1382px */
@media only screen and (min-width: 1382px) {
    body {
      font-size: 1.5em;
    }
}
