body {
  background-color: #CEDBEB;
}

/** CONTAINER **/
#graphcontainer {
 margin: 4em;
  position: relative;
  height: 430px;
}
/* left bottom patch */
#graphcontainer:before {
  content: "";
  position:absolute;
    z-index:12;
    bottom: -90px;
    left: 0;
    width:0;
    height: 0;
    border-style: solid;
    border-width: 45px;
    border-color: transparent transparent #CEDBEB #CEDBEB; 
}


/** BACK CASING **/
/* Back panel */
#graphbackground {
  width: 262px;
  height: 430px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(120, 120, 120, .2);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
  #graphbackground:before,
  #graphbackground:after {
    content: "";
    position: absolute;
  }
  /* Bottom panel */
  #graphbackground:before { 
    bottom: -88px;
    left: 45px;
    width: 262px;
    height: 89px;
    background-color: rgba(120, 120, 120, .5);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
  }
  /* Right back panel */
  #graphbackground:after {
  
    top: 215px;
    left: 92px;
    width: 430px;
    height: 89px;
    background-color: rgba(120, 120, 120, .1);
    -moz-transform: rotate(90deg) skew(-45deg);
    -webkit-transform: rotate(90deg) skew(-45deg);
  }

/** FRONT CASING **/
/* Front panel */
#graphforeground {
  z-index: 3;
  position: absolute;
  width: 262px;
  height: 430px;
  top: 89px;
  left: 89px;
  background-color: rgba(120, 120, 120, .3);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
  #graphforeground:before,
  #graphforeground:after {
    content: "";
    position: absolute;
  }
  /* Left panel */
  #graphforeground:before { 
    bottom: 215px;
    right: 91px;
    width: 431px;
    height: 90px;
    background-color: rgba(120, 120, 120, .4);
    -moz-transform: rotate(90deg) skew(-45deg);
    -webkit-transform: rotate(90deg) skew(-45deg);
  overflow:hidden;
  }
  /* Top panel */
  #graphforeground:after {
    top: -89px;
    right: 44px;
    width: 262px;
    height: 89px;
    background-color: rgba(120, 120, 120, .4);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
  }

/** BAR GRAPH **/
#graphbar {
  transition: height .3s linear;
   -o-transition: height .3s linear;
   -moz-transition: height .3s linear;
   -webkit-transition: height .3s linear;
  z-index: 2;
  position: absolute;
  width: 351px;
  height: 200px;
  bottom: -89px;
  left: 0px;
  background-color: rgba(121, 204, 50, .7);
}
  #graphbar:before,
  #graphbar:after {
    content: "";
    position: absolute;
  }
  /* top shadow */
  #graphbar:before {
    top: -89px;
    right: 45px;
    width: 262px;
    height: 89px;
    background-color: rgba(120, 120, 120, .4);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
  }
  /* top fill */
  #graphbar:after {
    top: -89px;
    width: 262px;
    border-bottom: 90px solid rgba(121, 204, 50, .7);
    border-left: 0px solid transparent;
    border-right: 91px solid transparent;
  }
